a.out
protos/*_pb2.py*
protos/__pycache__/
.idea/
.__pycache__/
*.pyc
*.class
my/*
java/classpath/*
java/HearthSim/build/
protos/*.java
protos/*.pb.cc
protos/*.pb.h
java/classpath/*
protos/com/protos/*.java
*.jar
*.log
*.bin
*.lock
